@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #e2e8f0;
  --color-secondary: #f8fafc;
  --color-shadowColor: #94a3b8;
  --color-hoverColor: #f3f4f4;  
  
  --breakpoint-mobile: 460px; /* create a new screen breakpoint called mobile  */
  --breakpoint-tiny: 260px;
  --breakpoint-yana: 230px;
  /* Adding a ultra-wide desktop breakpoint (e.g., 1920px) */
  --breakpoint-3xl: 120rem; 
  
}

.dark{
  --color-primary: #0f172a;
  --color-secondary: #1e293b;
  --color-shadowColor: #475569;
  --color-hoverColor: #334155;
  --color-neighbourCityText: #111827;
}

:root{
  font-family: "DM Sans", sans-serif;
}

@layer components {
  .paginationStyle{
    @apply flex flex-col justify-center items-center w-10 dark:text-gray-200 border cursor-pointer py-1
  }
}